<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Datos</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">REGISTRO DE PERSONAS:</h1>
    <div class="col-md-8 mx-auto">
        <form>
            <div class="form-group form-separator">
                <div class="row">
                    
                    <div class="col-md-6">
                        <label for="tipoDocumento">Tipo de Documento</label>
                        <select class="form-control" id="tipoDocumento">
                            <option value="CC">Cédula de Ciudadanía (CC)</option>
                            <option value="CE">Cédula de Extranjería (CE)</option>
                            <option value="TI">Tarjeta de Identidad (TI)</option>
                        </select>  
                    </div>
                    <div class="col-md-6">
                        <label for="numeroDocumento">Número de Cédula</label>
                        <input type="text" class="form-control" id="numeroDocumento" placeholder="Ingrese su número de cédula">
                    </div>
                </div>
            </div>

            <div class="form-group form-separator">
                <div class="row">
                    <div class="col-md-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" placeholder="Ingrese sus apellidos">
                    </div>
                </div>
            </div>

            <div class="form-group form-separator">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion" placeholder="Ingrese su dirección">
            </div>

            <div class="form-group form-separator">
                <div class="row">
                    <div class="col-md-6">
                        <label for="telefono">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" placeholder="Ingrese su teléfono">
                    </div>
                    <div class="col-md-6">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="fechaNacimiento" placeholder="Ingrese su fecha de nacimiento">
                    </div>
                </div>
            </div>

            <div class="form-group text-center">
                <a href="/index.html" class="btn btn-primary mr-2">Cancelar</a>
                <a href="#" class="btn btn-secondary">GUARDAR</a>
            </div>
        </form>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


